@model IEnumerable<ToDoList05.Models.Item>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>@Html.DisplayNameFor(model => model.description)</h2> 
    </div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.DisplayFor(modelItem => item.description)
            </li>
        }
    </ul>
</body>
</html>
